 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// ---------------- Variables ---------------- //

$primary-font: "Helvetica", "Arial", "sans-serif";
$primary-border: solid 1px #eee;

// ---------------- Generic ---------------- //

// Styles that apply to multiple or non-specific sections //

body {
  background-image: url("http://th01.deviantart.net/fs70/PRE/i/2013/194/c/3/ancient_battleground_by_atknebula-d6d9zuz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  @include outer-container;
  padding-top: rem(40);
}

ul {
  list-style: none;
  margin: 0;
}

h1 {
  font-family: $primary-font;
  font-size: rem(60);
  font-weight: Bold;
  color: #f2f2f2;

  margin: 0;
  padding: rem(30) 0;
}

h2 {
  color: #777;
  font-family: $primary-font;
  font-size: rem(24);
  font-weight: Bold;

  margin: 0;
  padding: rem(10) 0;
}

////Win and lose box////

.win {
  text-align: center;
  @include span-columns(2);

  h1 {
    color: #000;
    padding: 0;
  }
}

.lose {
  text-align: center;
  @include span-columns(2);

  h1 {
    color: #000;
    padding: 0;
  }
}

// ----------- Select Hero and Enemies ----------- //

// Hero //

.hero-container {
  @include span-columns(6);
  text-align: center;

  ul {
    @include fill-parent();
    border: $primary-border;

    li {
      border-bottom: $primary-border;
    }
  }
}

// Enemy //

.enemy-container {
  @include span-columns(6);
  float: right;
  text-align: center;
}


label {
  font-size: rem(18);
  color: #fff;
}


// ----------- Hero and Enemy Battle Arena ----------- //


.battle-arena {
  @include outer-container;

  .hidden {
    display: none;
  }

}

.heros {
  text-align: center;
  @include span-columns(5);
}

.vs {
  text-align: left;
  @include span-columns(2);
  margin: 0;

  h1 {
    color: #f7f7f7;
    padding: 0;
  }
}

.enemies {
  @include span-columns(5);
  float: right;
  background-color: rgba(0, 0, 0, .7);
}

.enemy-selected {
  outline: solid 3px #72acd3;
}

.message-box {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  font-size: rem(12);
  height: rem(150);
  overflow: auto;
  margin: rem(20);
  padding: rem(10);
}

#enemy-one,
#enemy-two,
#enemy-three {
  padding: rem(10) rem(20);
}

.enemy-info {
  padding: rem(20) rem(10);
  display: inline-block;
}

// Hero Battle Characters //

.batman {

  h1 {
    color: #fff;
    padding: 0;
  }

  img {
    width: 80%;
    margin: rem(10) 0;
  }

  .actions {
    margin: rem(20) 0;
  }
}

.yeti {

  h1 {
    color: #000;
    padding: 0;
  }

  img {
    width: 100%;
    margin: rem(10) 0;
  }

  .actions {
    margin: rem(20) 0;
  }
}

.jackaloupe {

  h1 {
    color: #fff;
    padding: 0;
  }

  img {
    width: 80%;
    margin: rem(10) 0;
  }

  .actions {
    margin: rem(20) 0;
  }
}


// Enemy Battle Characters //


.thug {
  border-bottom: $primary-border;

  h1 {
    padding: 0;
  }

  img {
    display: inline-block;
    width: 20%
  }
}

.ruffian {
  border-bottom: $primary-border;

  &:focus {
    background-color: yellow;
  }

  h1 {
    padding: 0;
  }

  img {
    display: inline-block;
    width: 20%
  }
}

.hoodlum {
  border-bottom: $primary-border;

  &:focus {
    background-color: red;
  }

  h1 {
    padding: 0;
  }

  img {
    display: inline-block;
    width: 20%
  }
}

.bat-back {
  background: url("http://static.comicvine.com/uploads/original/0/40/442952-s6_citywheel.jpg");
}

.yeti-back {
  background: url("http://freedesignfile.com/upload/2012/12/201209234220.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jack-back {
  background: url("http://www.wallpaperup.com/uploads/wallpapers/2013/07/31/125695/48da744dffa47266070d683dbe73fa8b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.yeti-btn {
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #DEB887;
  border-radius: 2px;
  background: #FFF8DC;
}


.win {
  text-align: center;
  margin-top: -400px;
  margin-left: 50px;
  text-align: right;
  @include span-columns(10);

  h1 {
    color: #556B2F;
    padding: 0;
  }
}

.lose {
  text-align: center;
  margin-top: 80px;
  text-align: center;
  @include span-columns(10);

  h1 {
    color: #8B0000;
    padding: 0;
  }
}
