<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>game</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div id="select-container" class="wrapper">


      <!-- Hero and Enemy Selectors -->


      <div id="hero-con" class="hero-container"><!-- Hero Container -->

        <!-- Dropdown Menu for Hero Character -->
          <form>

            <label for="hero-drop">Choose Your Hero:</label>
             <select id="hero-drop">
              <option value="Batman">Batman</option>
              <option value="Yeti">Yeti</option>
              <option value="Jackaloupe">Jackaloupe</option>
            </select>
            <button type="submit" class="hero-button">Submit</button>

          </form>

      </div><!-- End of Hero Container -->


      <form id="enemy-con" class="enemy-container"><!-- Enemy Container -->
        <button class="generate">Choose your Enemies</button>
      </form><!-- End of Enemy Container -->


      <!-- End Hero and Enemy Selectors -->
    </div><!-- End of Wrapper -->


    <!-- Battle Arena -->

    <div class="battle-arena">

      <div class="heros"><!-- Hero Character -->

         <div id="lose" class="hidden">
            <h1>You Lose!</h1>
          </div>
        <div id="batman" class="hidden"><!-- Batman -->
          <h1>Batman</h1>
          <progress id="bat-health" value="1500" max="1500"></progress>

          <img src="images/Batman_Arkham_Knight.png" />

          <div class="actions">
            <button class="punch">Punch!</button>
            <button class="batarang">Batarang!</button>
            <button class="kick">Kick!</button>
          </div>

        </div><!-- End of Batman -->

        <div id="yeti" class="hidden"><!-- Yeti -->

          <h1>Yeti</h1>
          <progress id="yeti-health" value="1500" max="1500"></progress>

          <img src="images/SnowYeti.png" />

          <div class="actions">
            <button class="bash yeti-btn">Bash!</button>
            <button class="smash yeti-btn">Smash!</button>
            <button class="whallop yeti-btn">Whallop!</button>
          </div>

        </div><!-- End of Yeti -->


        <div id="jackaloupe" class="hidden"><!-- Jackaloupe -->

          <h1>Jackaloupe</h1>
          <progress id="jack-health" value="1500" max="1500"></progress>

          <img src="images/Jackalope.jpg" />

          <div class="actions">
            <button class="stab ">Stab!</button>
            <button class="maul ">Maul!</button>
            <button class="flyingRabbitKick ">Flying Rabbit Kick!</button>
          </div>

        </div><!-- End of Jackaloupe -->

      </div><!-- End Hero Character -->

      <div id="vs" class="hidden">
        <h1>VS</h1>
      </div>
      
      <div id="win" class="hidden">
        <h2>You Win!</h2>
      </div>

     

      <div class="enemies"><!-- Enemy Charactera -->
        <div id="enemy-one" class="hidden"></div>
        <div id="enemy-two" class="hidden"></div>
        <div id="enemy-three" class="hidden"></div>
       <script type="text/template" id="enemies-template1">

          <!-- Enemy One -->
          <img src="<%= enemy1.image %>" />
          <div class="enemy-info">
            <h1><%= enemy1.name %></h1>
            <progress id="enemy1-health" value="<%= enemy1.health %>" max="<%= enemy1.maxHealth %>"></progress>
          </div>
      </script>

      <script type="text/template" id="enemies-template2">
          <!-- Enemy Two -->
          <img src="<%= enemy2.image %>" />
          <div class="enemy-info">
            <h1><%= enemy2.name %></h1>
            <progress id="enemy2-health" value="<%= enemy2.health %>" max="<%= enemy2.maxHealth %>"></progress>
          </div>
      </script>

      <script type="text/template" id="enemies-template3">
          <!-- Enemy Three -->
          <img src="<%= enemy3.image %>" />
          <div class="enemy-info">
            <h1><%= enemy3.name %></h1>
            <progress id="enemy3-health" value="<%= enemy3.health %>" max="<%= enemy3.maxHealth %>"></progress>
          </div>
        </script>

       </div><!-- End of Enemy Charactera -->

    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/heroes.js"></script>
        <script src="scripts/enemies.js"></script>
        <!-- endbuild -->
</body>
</html>
